<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8">

        <title>Turbinenreiters Blog</title>

        <meta name="description" content="Turbinenreiters Blog">
        <meta name="author" content="Sebastian Plamauer">

        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>

        <link rel="import" 
              href="http://www.polymer-project.org/components/font-roboto/roboto.html">

        <!--icons license http://findicons.com/icon/267856/mail-->

    </head>

    <body>

        <header id="header">
            <h1><a href="http://blog.turbinenreiter.eu/">Turbinenreiters Blog</a></h1>

            <nav>
                <a href="mailto:blog.turbinenreiter.org">
                    <img src="mail.png"
                         alt="Mail">
                         <!-- from http://findicons.com/icon/267856/mail CC-->
                </a>
                <a href="https://github.com/turbinenreiter">
                    <img src="GitHub-Mark-32px.png"
                         alt="Github">
                </a>
                <a href="https://twitter.com/turbinenreiter">
                    <img src="twitter.png"
                         alt="Twitter">
                </a>
                <a href="https://plus.google.com/+SebastianPlamauer">
                    <img src="gplus.png"
                         alt="Google Plus">
                </a>
            </nav>

        </header>

        <section id="section">
        </section>

        <footer>
        </footer>

    </body>

</html>
